.main-color {
    background-color: #575757;
}

a.main-color:hover,
a.main-color:focus,
button.main-color:hover,
button.main-color:focus{
    background-color: #797979;
}

.text-color-custom {
    color: #575757;
}