<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Финансовый супермаркет</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/app.css}">

</head>

<body>
    <nav th:fragment="navigation" class="navbar main-color navbar-expand mb-3" style="border-radius: 10px; padding-top: 0; padding-bottom: 0">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="/"
               style="width: 250px; vertical-align: center; margin-left: 50px; padding-top: 0; padding-bottom: 0">
                <img alt="logo"  th:src="@{img/img_1.png}" class="img-fluid">
            </a>
            <ul class="navbar-nav navbar-right ml-auto">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" th:text="Меню">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right main-color border-white" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item main-color text-white">Главная</a>
                        <a class="dropdown-item main-color text-white">Конвертер валют</a>
                        <a class="dropdown-item main-color text-white">Курс валют</a>
                        <a class="dropdown-item main-color text-white">Накопительные счета</a>
                        <a class="dropdown-item main-color text-white">Карточные продукты</a>
                        <a class="dropdown-item main-color text-white">Банки</a>
                        <a class="dropdown-item main-color text-white">Акции в банках</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div th:fragment="scripts">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
    </div>
</body>

<footer th:fragment="footer" class="main-color text-center text-white fixed-bottom">
    <div class="text-center p-3">
        © 2023 Copyright by Shpak Yana
    </div>
</footer>
</html>