<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"><title>Финансовый супермаркет</title></head>

    <body class="container-fluid" style="width: 80%">
        <nav th:replace="fragments :: navigation"></nav>

        <h3 class="text-center text-color-custom mb-5 mt-5">Конвертация валют</h3>

        <div class="row mb-4">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-6 text-center ml-auto mr-auto">
                        <p class="mb-0 text-color-custom" style="margin-left: -80%">Банк</p>
                        <select class="form-control selectpicker" id="bank">
                            <option th:each="bank : ${banks}"
                                    th:value="${bank.id}"
                                    th:text="${bank.name}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-7 text-center">
                        <p class="mb-0 text-color-custom" style="margin-left: -70%">У меня есть</p>
                        <input class="form-control " id="val" type="number" placeholder="0.00" min="0.00a" value="0.00" step="0.01" required>
                    </div>
                    <div class="col-md-5 text-center">
                        <select class="form-control selectpicker mt-4" id="cur1">
                            <option th:each="currency : ${currencies}"
                                    th:value="${currency.id}"
                                    th:text="${currency.isoLat3}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>

<!--            <div class="col-md-4 ml-auto">-->
<!--                <div class="card">-->
<!--                    <div class="card-header main-color text-white">-->
<!--                        Title1-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">Body1</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-1"></div>-->
<!--            <div class="col-md-4 mr-auto">-->
<!--                <div class="card">-->
<!--                    <div class="card-header main-color text-white">-->
<!--                        Title2-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <p class="card-text">Body2</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>


        <div class="row">
            <div  class="col-md-6 ml-auto mr-auto">
                <div class="row">
                    <div class="col-md-7 text-center">
                        <p class="mb-0 text-color-custom" style="margin-left: -75%">Я получу</p>
                        <input class="form-control convert_result" type="number" placeholder="0.00" step="0.01" disabled>
                    </div>
                    <div class="col-md-5 text-center">
                        <select class="form-control selectpicker mt-4" id="cur2">
                            <option th:each="currency : ${currencies}"
                                    th:value="${currency.id}"
                                    th:text="${currency.isoLat3}">
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments :: scripts"></div>
        <script th:inline="javascript">
                /*<![CDATA[*/
                let rates = [[${rates}]]
                /*]]>*/

                let val = document.getElementById('val'); // Получаем элемент ввода данных
                let bank = document.getElementById('bank'); // Получаем элемент ввода данных
                let currency1 = document.getElementById('cur1'); // Получаем первый селект
                let currency2 = document.getElementById('cur2'); // Получаем второй селект
                let result = document.getElementsByClassName('convert_result')[0]; // Получаем поле куда будем писать результат

                function summ() {
                    let z = 0;
                    if(currency1.value === currency2.value){ // Если оба значения в селектах равны
                        result.value = val.value; // То просто вписываем данные из поля ввода
                    } else {
                        for (let i = 0; i < rates.length; i++) {
                            if (String(rates[i].basedCurrency.id) === String(currency1.value) &&
                                String(rates[i].quoteCurrency.id) === String(currency2.value)) {
                                if (String(rates[i].bank.id) === String(bank.value) &&
                                    rates[i].buyRate === false) {
                                        result.value = Number(val.value)*Number(rates[i].rate)
                                }
                            } else
                            if (String(rates[i].quoteCurrency.id) === String(currency1.value) &&
                                String(rates[i].basedCurrency.id) === String(currency2.value)) {
                                if (String(rates[i].bank.id) === String(bank.value) &&
                                    rates[i].buyRate === true) {
                                    result.value = Number(val.value)/Number(rates[i].rate)
                                }
                            }
                        }
                    }
                }

                val.oninput = function () { // При вводе данных в поле вызываем функцию.
                    summ();
                };
                currency1.onchange = function () { // При смене первого селекта вызываем функцию.
                    summ();
                };
                currency2.onchange = function () { // При смене второго селекта вызываем функцию.
                    summ();
                }
                bank.onchange = function () { // При смене селекта банка вызываем функцию.
                    summ();
                }
        </script>
    </body>

    <footer th:replace="fragments :: footer"></footer>
</html>