<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"><title>Финансовый супермаркет</title></head>

<body class="container-fluid" style="width: 80%; margin-bottom: 100px">
<nav th:replace="fragments :: navigation"></nav>

<h3 class="text-center text-color-custom mb-5 mt-5">Организационно-правовая информация</h3>

<div class="row">
    <div class="col-md-3"></div>
    <div class="card col-md-6">
        <h5 class="card-body text-left text-color-custom">
            ООО «Современные информационные платформы» <br>
            ИНН: 5406604623 <br>
            КПП: 540601001 <br>
            ОГРН: 1165476078470 <br>
            Юридический адрес: 630099, г. Новосибирск, ул. Орджоникидзе 38, БЦ «Партнер», 5 этаж, к. 504. <br>
            Тел. + 7 (383) 204-58-13, +7 (383) 204-58-69. <br>
            Иванов Иван Иванович — генеральный директор
        </h5>
    </div>
    <div class="col-md-3"></div>
</div>

</body>

<footer th:replace="fragments :: footer"></footer>
</html>