<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Финансовый супермаркет</title></head>

    <body class="container-fluid" style="width: 80%; margin-bottom: 100px">

        <nav th:replace="fragments :: navigation"></nav>

        <h3 class="text-center text-color-custom mb-5 mt-5">Покупка валюты</h3>

        <div class="form-row mb-2">
            <form class="container mt-0 mb-0 col-md-6 ml-auto mr-auto" th:action="@{/rates}" method="get">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="query" name="query" placeholder="Введите название банка..." th:value="${query == null ? '' : query}">
                    </div>
                    <div class="form-group col-md-2">
                        <button type="submit" class="btn main-color text-white">Найти</button>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2 ml-auto">
                        <a class="btn btn-success text-white btn-create-rate" th:hidden="${#authentication.principal == 'anonymousUser'}" style="width:100%">Создать</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="form-row mb-4" th:each="rate : ${rates}">
            <div class="card col-small-12 col-md-6 ml-auto mr-auto" style="padding: 0 0">
                <div class="card-header main-color text-white pl-0 pb-0">
                    <p class="text-white text-center col-xs-5 col-md-5 pl-0" th:text="${rate.getKey()}"></p>
                </div>
                <div class="row mb-2 mt-2">
                    <p class="col-xs-5 col-md-5"></p>
                    <p class="text-color-custom text-center col-xs-3 col-md-3 h6"><i>Покупка</i></p>
                    <p class="text-color-custom text-center col-xs-3 col-md-3 h6"><i>Продажа</i></p>
                </div>
                <div class="card-body p-0" th:each="elem : ${rate.getValue()}">
                    <div class="row">
                        <p class="card-text text-center col-xs-5 col-md-5" th:text="${elem.currencyName}"></p>
                        <p class="card-text text-center col-xs-3 col-md-3" th:text="${elem.buySum}"></p>
                        <p class="card-text text-center col-xs-3 col-md-3" th:text="${elem.saleSum}"></p>

                        <div class="p-0 col-xs-1 col-md-1">
                            <button class="pl-1 pt-0 text-white btn main-color btn-edit-rate" th:hidden="${#authentication.principal == 'anonymousUser'}"
                                    style="height: 70%; width: 45%"
                                th:rate-id="${elem.id}"
                                th:rate-bank-name="${elem.bankName}"
                                th:rate-bank-id="${elem.bankId}"
                                th:rate-currency-name="${elem.currencyName}"
                                th:rate-buy-sum="${elem.buySum}"
                                th:rate-sale-sum="${elem.saleSum}"
                            >🖉</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form class="container mt-2 mb-2">
                            <div class="modal-header main-color">
                                <h4 class="modal-title text-white" id="createModalLabel">Создание курса валют</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="text-white" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="text-center">
                                <div class="form-row mb-2">
                                    <div class="form-group col-sm-12">
                                        <label for="bank-name" class="h5 mt-3 mb-3">Банк:</label>
                                        <select class="form-control selectpicker" id="bank-name" name="bankId">
                                            <option th:each="bank : ${banks}"
                                                    th:value="${bank.id}"
                                                    th:text="${bank.name}">
                                            </option>
                                        </select>

                                        <label for="currency-name" class="h5 mt-3 mb-3">Валюта:</label>
                                        <select class="form-control selectpicker" id="currency-name" name="currencyId">
                                            <option th:each="currency : ${currencies}"
                                                    th:value="${currency.id}"
                                                    th:text="${currency.isoLat3}">
                                            </option>
                                        </select>

                                        <label for="buy-sum" class="h5 mt-3 mb-3">Сумма покупки:</label>
                                        <input id="buy-sum" type="number" class="form-control" name="rateBuySum" placeholder="0.00" value="0.00" step="0.01" required>

                                        <label for="sale-sum" class="h5 mt-3 mb-3">Сумма продажи:</label>
                                        <input id="sale-sum" type="number" class="form-control" name="rateSaleSum" placeholder="0.00" value="0.00" step="0.01" required>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                <button type="submit" th:formaction="@{/rates/create}" th:formmethod="post" class="btn btn-success">Создать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form class="container mt-2 mb-2">
                            <div class="modal-header main-color">
                                <h4 class="modal-title text-white" id="editModalLabel">Редактирование курса валют</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="text-white" aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <input type="text" name="bankId" hidden>
                            <div class="text-center">
                                <div class="form-row mb-2">
                                    <div class="form-group col-sm-12">
                                        <label for="rate-bank-name" class="h5 mt-3 mb-3">Банк:</label>
                                        <input type="text" class="form-control" id="rate-bank-name" readonly>

                                        <label for="rate-currency-name" class="h5 mt-3 mb-3">Валюта:</label>
                                        <input type="text" class="form-control" id="rate-currency-name" name="currencyName" readonly>

                                        <label for="rate-buy-sum" class="h5 mt-3 mb-3">Сумма покупки:</label>
                                        <input type="number" class="form-control" id="rate-buy-sum" name="rateBuySum" placeholder="0.00" value="0.00" step="0.01" required>

                                        <label for="rate-sale-sum" class="h5 mt-3 mb-3">Сумма продажи:</label>
                                        <input type="number" class="form-control" id="rate-sale-sum" name="rateSaleSum" placeholder="0.00" value="0.00" step="0.01" required>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                <button type="submit" th:formaction="@{/rates/edit}" th:formmethod="post" class="btn btn-success">Сохранить</button>
                                <button type="submit" th:formaction="@{/rates/delete}" th:formmethod="post" class="btn btn-danger">Удалить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </body>

    <script th:inline="javascript">

        $('.btn-edit-rate').click(function () {
            let $modal = $('#editModal').clone().removeAttr('id');
            let $btn = $(this);

            $modal.find('[id="rate-bank-name"]').val($btn.attr('rate-bank-name'));
            $modal.find('[id="rate-currency-name"]').val($btn.attr('rate-currency-name'));
            $modal.find('[id="rate-currency-name"]').text($btn.attr('rate-currency-name'));
            $modal.find('[id="rate-buy-sum"]').val($btn.attr('rate-buy-sum'));
            $modal.find('[id="rate-sale-sum"]').val($btn.attr('rate-sale-sum'));
            $modal.find('[name="bankId"]').val($btn.attr('rate-bank-id'));
            $modal.find('[name="id"]').val($btn.attr('rate-id'));

            $modal.modal();
        });

        $('.btn-create-rate').click(function () {
            let $modal = $('#createModal').clone().removeAttr('id');
            // let $btn = $(this);

            // $modal.find('[id="rate-bank-name"]').val($btn.attr('rate-bank-name'));
            // $modal.find('[id="rate-currency-name"]').val($btn.attr('rate-currency-name'));
            // $modal.find('[id="rate-currency-name"]').text($btn.attr('rate-currency-name'));
            // $modal.find('[id="rate-buy-sum"]').val($btn.attr('rate-buy-sum'));
            // $modal.find('[id="rate-sale-sum"]').val(0.00);
            // $modal.find('[name="bankId"]').val($btn.attr('rate-bank-id'));
            // $modal.find('[name="id"]').val($btn.attr('rate-id'));

            $modal.modal();
        })

    </script>

    <footer th:replace="fragments :: footer"></footer>
</html>